<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Custom Toolbar</span>  
    <span class="example-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Home</button>
    <button mat-button>Post</button>
    
  </mat-toolbar-row>
</mat-toolbar>




<div class="button-row">
  <button mat-raised-button>Basic</button>
  <button mat-fab color="accent">Accent</button>
</div>



<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Favorite food" value="Sushi">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>
</form>



<mat-card>
  <mat-form-field>
    <input matInput [(ngModel)]="answer" placeholder="who am I ?" >
    <br>
    
  </mat-form-field>
  <br>
  <button mat-raised-button (click)="showAnswer()" >Answer me</button>
  <mat-spinner [style.display]="showSpinner ? 'block':'none' "  > </mat-spinner>
</mat-card>

<mat-card *ngIf="answerDisplay">
   <h3>{{ answerDisplay}}, chuẩn cmnr</h3>
</mat-card>


<button mat-button (click)="openSnackBar()" aria-label="Show an example snack-bar">
  Pizza party
</button>
